fastapi
uvicorn
websockets
jinja2
python-multipart
sqlalchemy
passlib[bcrypt]
python-jose
pydantic
rich
langchain
langchain-community
langchain-core
chromadb
sentence-transformers
transformers
torch
openai
faiss-cpu
python-dotenv
